.question-card{
    box-shadow:3px 3px 5px 6px #ccc;
    position:relative;
    background-color: floralwhite;
    min-height:fit-content;
    height:50vw;
    width:50vw;
    min-width:fit-content;
    padding: 40px;
    border-radius: 8px;
    margin: auto;
    margin-top: 12vh;
 
    max-width:750px;
    max-height:750px;
}
.score-form{
margin-top:50px;
 
}


.feedback-message{

    font-size:2rem;
    text-align: center;
}

#quest-word{
    display:inline-block;
    font-size: 2.5rem;
    color: #9A132F;
  
    text-align: center;
    height: auto;
    width:100%;
    margin-top:25px;
    margin-bottom: 50px;

}
.DisplayFeedback{
   text-align:center;
    height:auto;
    width:100%;
}
.DisplayScore{
    width:fit-content;
    position:absolute;
    top:10px;
}
.DisplayWordData{
    
    width: fit-content;
text-align: left;
    font-size: 1.2em;
    position:absolute;
    bottom:8px;
}
.DisplayForm{
    width:100%;
    position:absolute;
    top:40px;
    text-align: center;
}
.total-score-quest-fb{
font-size: 1.2em;
}

input#learn-guess-input{
    display: block;
    margin:auto;
    text-align: center;
    height:2.5rem;
    font-size:2rem;
        min-width:40%;
}
.WordData.green{
    color:green;
}
.WordData.red{
    color:red;
}
.NextWordBtn{
    text-align: center;
    float:right;
    width:100px;
    word-wrap:break-word;
    height:100px;
    border-radius: 8px;
}
.NextWordBtn:hover{
    cursor: pointer;
    background-color: green;
    color:white;
}

.quest-text{
    margin-bottom:20px;
    display: block;
    font-size:2rem;
    text-align: center;
}
.NextWordBtn{
    position:absolute;
    bottom:20px;
    right:20px;
}
.guess-submit-btn{
    position:absolute;
    bottom:20px;
    right:20px;
    color:white;
    width:100px;
    word-wrap:break-word;
    height:100px;
    font-size: .9rem;
    background-color:rgb(26, 128, 0) ;
    border-radius: 8px;
}
.guess-submit-btn:hover{
cursor:pointer;
}
@media only screen and (max-width: 375px) {
    input#learn-guess-input{
        min-width: 50vw;
        margin-bottom:20px;
        font-size: 1.5rem;
    }
    #quest-word{
        font-size: 1.5rem;
        margin-bottom:25px;
    }
    div.DisplayFeedback{
        height: fit-content;
        font-size: .8em;
      
    }
    .question-card{
        width:95vw;
        padding:10px;
        height:70vh;
        margin-top:2vh;
    }
    .quest-text{
        font-size: 1.2rem;
        margin-bottom: 10px;
    }
    Button.guess-submit-btn{
        width:100vw;
        padding:10px;
        border-radius: 0px;
        position:fixed;
        bottom:0;
        right:0;
        font-size:1.3em;
        margin: auto;
    }
    .DisplayWordData{
        font-size:.8rem;
    }
    .total-score-quest-fb{
        font-size: .9em;
    }

.feedback-message{
    margin-top:70px;
    font-size:1.1rem;
    text-align: center;
}
}
