.word-card-page{
    width:95vw;
    height:95vh;
    /* background-color: pink; */
    margin:auto;
}
.back-btn{
    background:none;
    border:none;
    position:relative;
    top:50px;
    /* bottom:50px; */
}
.back-btn:hover{
    cursor:pointer;
    
}


@media only screen and (max-width: 375px) {


    
  
    button.back-btn{
        top:15px;
    } 
}
