.App{
 

   height: auto;
   width: 100%;
}

main.App__Main{
    position: fixed;
    height:95vh;
    margin-top: 5vh;
    background-color:#D7D9D7;
    overflow-y: auto;
   min-width:fit-content;
   width:100%;
    padding:30px;
}
header.App__Header{

    
    position: fixed;
    top:0;
      width:100%;
      height: 5vh;
    /* display:inline-block;
    vertical-align: middle; */
  
    
      
      z-index: 100;
      background-color: #D9442A;
      box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
  
      
  }
