h2.lang-name{
    text-align: center;

    width:fit-content;
  
    margin:auto;
}
/* .start-pract-btn{
    font-size: 1.3em;
    background-color:#D7D9D7 ;
    height:auto;
    width:100%;
    
} */


ul.word-list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin:auto;
   justify-content: space-evenly;
    width:95%;
    height:auto;
    padding:0;
    /* border-top:1px solid black; */
}

h3.list-msg{
    text-align: center;
    font-size:1.5em;
    text-decoration: underline;
}
.total-score{
 
     font-size: 1.2em;
 }
 

  
.DashboardPage {
    height:100%;
    width:auto;
    display: grid;
    grid-auto-rows: auto;
    /* grid-template-rows: repeat(6, 1fr); */
    grid-template-columns: repeat(6, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}
            
.NameContainer { grid-area: 1 / 1 / 2 / 3; }
.ScoreContainer { grid-area: 1 / 3 / 2 / 5; }
.StartBtnContainer { grid-area: 1 / 5 / 1 / 7; }
.ListContainer { grid-area: 2 / 1 / 7 / 7; }
        
            .NameContainer{
                font-size: 1.5em;
                background: #ee0978af;  /* fallback for old browsers */
                background: -webkit-linear-gradient(to right, #ff6a00b4, #ee0978ad);  /* Chrome 10-25, Safari 5.1-6 */
                background: linear-gradient(to right, #ff6a00a4, #ee0978b7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
                
                color:snow;
              width:fit-content;
              margin: auto;
              height:auto;
             
              border-radius:8px;
              box-shadow: inset -12px -8px 40px #464646;
              padding:1em 2em 1em 2em;
            } 
         
            .ScoreContainer{ 
                font-size: 1.1em;
                color: #D9442A;
background-color: aquamarine;
                width:fit-content;
                margin:auto;
              height:auto;
              /* border:1px solid black; */
              box-shadow: inset -12px -8px 40px #464646;
                text-align: center;
                padding:1em 2em 1em 2em;
                border-radius: 8px;
            }
            .StartBtnContainer { 
                
                width:fit-content;
                
                height:auto;
                
                margin:auto;
                text-align: center;
             
             
               
                
             }
             button.start-pract-btn p{
                color: white;
                font-size:1.3rem;
                text-decoration: none;
            }
            button.start-pract-btn{
                padding:25px;
                height:auto;
                width:100%;
                box-shadow: 0 20px 50px rgba(59, 43, 91, 0.7);
                border-radius: 25px;
                background-color: rgb(0, 153, 0);
                margin:auto;
                transition: all 2s ease-in-out;
            }
            button.start-pract-btn:hover{
                transform: scale(1.1);
                /* font-size:1.4em; */
                cursor: pointer;
                
                /* font-weight: bolder; */
            }
            .ListContainer{
                min-height: fit-content;
                height:auto;
                margin-top:30px;
                width: 100%;
                padding:0;
                /* background-color: white; */
                
            }
        
            @media only screen and (max-width: 375px) {
                .start-pract-btn{
                    color:white;
                }
            .DashboardPage{
                display:block;
                overflow: scroll;
                width:100vw;
                min-height:100vh ;
                max-height: max-content;
            }
            .NameContainer{
                display: block;
                width:90vw;
                margin: auto;
                padding:20px;
                margin-bottom:20px;
                margin-top:20px;
            }
            .ScoreContainer{
             font-size: 1.1em;   
             word-wrap: break-word;
             padding:10px;
            width:90vw;
            margin: auto;
               display: block;
            }
            ul.word-list{
                height: fit-content;;
                margin:auto;
                width:100vw;
                padding:0;
                overflow: auto;
            }
            .StartBtnContainer{
                width:100vw;
                padding:10px;
                border-radius: 0px;
                position:fixed;
                bottom:0;
               
            }
            .ListContainer{
                overflow-y: scroll;
                height:fit-content;
                width:100vw;
            }
    }