li{
    list-style: none;
}
.word-card{
    background-color: #C9C5CB;
    margin:25px;
    height:auto;
    width:250px;
    min-width:fit-content;
    border:1px solid #8BA0AC;
    border-radius: 8px;
    padding:2rem;
    box-shadow: 10px 10px 6px -1px #8BA0AC;
}
.word-card h4{
    text-align: center;
    color:#9A132F;
    font-size: 1.5em;
}