li{
    list-style: none;
}
.word-card{
    background-color: #C9C5CB;
    margin:20px;
    height:auto;
    width:250px;
    min-width:fit-content;
    border:1px solid #8BA0AC;
    border-radius: 8px;
    padding:1rem;
    box-shadow: 10px 10px 6px -1px #8BA0AC;
}
.word-card h4{
    text-align: center;
    color:#9A132F;
    font-size: 1.5em;
}
@media only screen and (max-width: 375px) {
    .word-card{
        margin:auto;
        width:90vw;
        height:fit-content;
        margin-bottom:15px;
        padding:10px;
    }


}