li{
    list-style: none;
}
.word-card{
    background-color: #D7D9D7;
    margin:10px;
    width:max-content;
    border-radius: 8px;
    padding:2rem;
    box-shadow: 5px 5px 3px #8BA0AC;
}
.word-card h4{
    text-align: center;
    color:#9A132F
}