
#title{
    color:white;
    font-size: 1.5rem;
    position: absolute;
    left:10px;
    top:5px;
    /* float:left; */

}
nav.nav_links{
    width:fit-content;
     height:5vh;
    position: absolute;
    right:5px;
    top:5px;
    font-size: 1.1em;
 
}
 nav.nav_links .link{
   width:fit-content;
    color:white;
   border-left: .5px solid black;
   padding:10px;
}
nav.nav_links .link:hover{
    cursor: pointer;
    color:black;
    background-color: #D7D9D7;
 } 


a{
    text-decoration: none;
}
#user-name{
    font-size:1.1em;
    color:white;
    text-align: center;
    margin:auto;
    width:fit-content;
  
}
@media only screen and (max-width: 760px) {

    #user-name{
        display:none;
    }
    nav.nav_links .link{
        font-size:.7em;
    }
}