
#title{
    color:black;
    font-size: 1.5rem;
    position: absolute;
    left:10px;
    top:0;

}
nav.nav_links{
    width:fit-content;
    height:fit-content;
    position: absolute;
    right:10px;
    top:0;
}
 nav.nav_links .link{
   color:red;
   margin:15px;
}


.nav_links:hover{
    cursor: pointer;
    color:green;
}
a{
    text-decoration: none;
}
#user-name{
    text-align: center;
    width:fit-content;
    /* float: right; */
}